<h1>HEllo Mindtree mind</h1>

<div data-sly-use.fetchdata="com.aem.mywknd.core.models.CodingChallengeInterface">
	<div data-sly-list="${fetchdata.codingmultifield}">

		<p>Multifield text No: ${itemList.count} <b> ${item}</b></p>

<hr>
===============================
<div data-sly-repeat="${currentPage.listChildren}">
     <p>Repeate:${item.name}</p>

</div>
===============================
<p>Selected from select: ${fetchdata.selectdropdown} </p>

<p>Boolean value of checkbox: ${fetchdata.checkboolean} </p>

<p>Path to target: ${fetchdata.path}</p>


	</div>
</div>